.job {
  background-color: var(--color-black);
  color: #fff;
  padding: 0.2rem 0.5rem;
  height: calc(93% - 0.4rem);
  margin: 0.2rem;
  position: relative;
  overflow: hidden;

  &__resize {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    color: #5e5e5e;
    cursor: e-resize;
    &Start {
      left: 0;
    }
    &End {
      right: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
}
